
	<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
  </head>
<body>
<div class="bg-top">
<div class="bgr">
    <header>
      <h1><a href="file:///C:/Users/Emidio/Desktop/Home/home.html"><img src="https://lh6.googleusercontent.com/-uW7BA4WRbJ8/UO2meYp5j2I/AAAAAAAAAFY/yVGTQIVj5_Y/s350/logo.jpg" alt=""></a></h1>
        <nav>  
            <ul class="menu">
              <li class="current" align="center"><a href="http://localhost:3000/home">Home</a></li>
              <li><a href="http://localhost:3000/restaurantes">Restaurantes</a></li>
              <li><a href="http://localhost:3000/clientes">Clientes</a></li>
              <li><a href="http://localhost:3000/qualificacoes">Qualificacoes</a></li>
              <li><a href="http://localhost:3000/comentarios">Comentarios</a></li>
            </ul>
         </nav>
    </header>
        <section id="content"><div class=></div>
    <div class="block-2 pad-1">
        <div class="box-2 top-2"></div><font family="Purisa" size="3px" >
	
</font>

<h2 align="center">Resend unlock instructions</h2>

<%= form_for(resource_name, resource, :url => unlock_path(resource_name)) do |f| %>
  <%= f.error_messages %>

  <p align="center"><%= f.label :email %></p>
  <p align="center"><%= f.text_field :email %></p>

  <p align="center"><%= f.submit "Resend unlock instructions" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>